{% extends "base.html" %}

{% block title %}{{ _('Информация о пользователе') }}{% endblock %}

{% block content %}

<h3>{{ _('О пользователе') }}</h3><br>

<div style="display: flex; gap: 20px;" class="wrapper">
    <img style="border-radius: 10px; height: 150px;" src="{{ url_for('user_avatar', user_id=user.id) }}" alt="">

    <ul style="width: 100%;" class="list-group">
        <li class="list-group-item">{{ _('Имя') }}: {{ user.name }}</li>
        <li class="list-group-item">{{ _('Количество постов') }}: {{ user.posts|list|length }}</li>
        <li class="list-group-item">
            {{ _('Подписчики') }}: {{ user.followers|length }}
            {% if user in current_user.followed  %}
            <a style="padding: 0px 7px; margin-left: 5px;" href="{{ url_for('unfollow', login=user.login) }}" class="btn btn-secondary">{{ _('Отписаться') }}</a>
            {% else %}
            <a style="padding: 0px 7px; margin-left: 5px;" style="padding: 5px;" href="{{ url_for('follow', login=user.login) }}" class="btn btn-danger">{{ _('Подписаться') }}</a>
            {% endif %}
        </li>
    </ul>
</div>

<br>
<h4>{{ _('Все посты пользователя') }}</h4>
<br>

{% include "base_posts.html" %}

{% endblock %}
